<p>
    <%= User.find_by_id(comment.user_id).name %> says:
</p>

<p>
    <%= comment.body %>
</p>

<p>
	<b><%= t('.time')%></b>
    <%= comment.time %>
</p>

<% if session[:user_id] %>
<% if session[:user_id] == comment.user_id || User.find_by_id(session[:user_id]).is_admin %> 
<p>
	<%= link_to t('.destroy'), [comment.product, comment],
	            :confirm => t('.ifsure'),
	            :method => :delete %>
</p>
<% end %>
<% end %>
<br />