<% if notice %>
<p id="notice"><%=notice %></p>
<% end %>
<div id="category">   					
	<ul id = "sub_cat">
		<% if @categories %>
			<%= hidden_div_if(@categories.empty?, :id => "category") do %>
				<% js_str = "var str = '';" %>
				<% @categories.each do |category| %>
					<% if category.parentid == 0%>
					  	<% js_str += "str += \"<li style = 'float:left'>\";" %>							  			 
							<% js_str += "str += \"<h3><a href = \\\"javascript:void(0);\\\" onclick = \\\"new Ajax.Updater('main', '/type?category_id=" + category.id.to_s + "&locale=en', {method:'get', asynchronous:true, evalScripts:true }); return false;\\\">" + category.name + "</a></h3>\";" %>
							<% js_str += "str += \"<ul>\";" %>
					  		<% @categories.each do |subcategory| %>
								<% if subcategory.parentid == category.id%>
									<% js_str += "str += \"<li><a href = \\\"javascript:void(0);\\\" onclick = \\\"new Ajax.Updater('main', '/type?category_id=" + subcategory.id.to_s + "&locale=en', {method:'get', asynchronous:true, evalScripts:true }); return false;\\\">" + subcategory.name + "</a></li>\";" %>
								<% end %>
							<% end %>
							<% js_str += "str += \"</ul>\";" %>
					  	<% js_str += "str += \"</ul>\";" %>					  <% end %>
				<% end %>
				<% js_str += "document.getElementById('sub_cat').innerHTML = str;" %>
				<%= render :inline => javascript_tag(js_str) %>
		  	<% end %>
		 <% end %>
	</ul>
	<div style="clear:both;"></div>
</div>


<% @products.each do |product| %>
	<div class="entry">
		<%= image_tag(product.image_url) %>
		<h3><%= link_to product.title, product %></h3>
		<%=sanitize product.description %>
		<div class="price_line">
			<span class="price"><%= number_to_currency(product.price) %></span>
			<%= button_to t('.add'), line_items_path(:product_id => product),
				:remote => true %>
		</div>
	</div>
<% end %>
<p><%= will_paginate @products,
       :prev_label=> t('.previous'),
	   :next_label=> t('.next')%>
</p>
