<h1><%= t('.title')%></h1>

<table>
  <tr>
    <th><%= t('.product')%></th>
    <th><%= t('.user')%></th>
    <th><%= t('.grade')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stars.each do |star| %>
  <tr>
    <td><%= star.product_id %></td>
    <td><%= star.user_id %></td>
    <td><%= star.grade %></td>
    <td><%= link_to t('.show'), star %></td>
    <td><%= link_to t('.edit'), edit_star_path(star) %></td>
    <td><%= link_to t('.destroy'), star, :confirm => t('.ifsure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.new'), new_star_path %>
