<p id="notice"><%= notice %></p>

<p>
  <b><%= t('.product')%></b>
  <%= @star.product_id %>
</p>

<p>
  <b><%= t('.user')%></b>
  <%= @star.user_id %>
</p>

<p>
  <b><%= t('.grade')%></b>
  <%= @star.grade %>
</p>


<%= link_to t('.edit'), edit_star_path(@star) %> |
<%= link_to t('.back'), stars_path %>
