<p id="notice"><%= notice %></p>

<p>
  <b>Product:</b>
  <%= @star.product_id %>
</p>

<p>
  <b>User:</b>
  <%= @star.user_id %>
</p>

<p>
  <b>Grade:</b>
  <%= @star.grade %>
</p>


<%= link_to 'Edit', edit_star_path(@star) %> |
<%= link_to 'Back', stars_path %>
