<h1><%= t('.title1')%></h1>

<div class = "depot_form">

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> 
      	prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  	<legend><%= t('.title2')%></legend>
  	
  	<div>
<<<<<<< HEAD
  		<%= f.label :name,t('.name') %>
  		<%= f.text_field :name, :size => 40, :disabled => true  %>
=======
  		<%= f.label :name,t('.name') %> 
  		&nbsp;<b><%= @user.name %></b>
		<br />
>>>>>>> b5932b36c68bddc24b279edfd2e7d8ba3e5e683c
  	</div>
  	
  	<div>
  		<%= f.label :email,t('.email') %>
  		<%= f.text_field :email, :size=>40 %>
  	</div>
  	
  	<div>
  		<%= f.label :password, t('.password') %>
  		<%= f.password_field :password, :size=>40 %>
  	</div>
  	
  	<div>
  		<%= f.label :password_confirmation, t('.confirm') %>
  		<%= f.password_field :password_confirmation, :size=>40 %>
  	</div>
  	
  	<% if @user.is_admin %>
  	<div>  	
    <%= f.label :role,t('.role') %>
    <%= f.select :role,
    			User::ROLE_TYPES,
    			:prompt => t('.select') %>
    </div>
  	<% end %>
  	
  	<div class = "submit">
  		<%= f.submit t('.submit') %>
  	</div>  
  	
  </fieldset>
<% end %>

</div>


<%= link_to t('.back'), @user %> 

<br />

