<%= form_for(@order) do |f| %>

  <% if @order.errors.any? %>
  
    <div id="error_explanation">
    	<h2>
      		<%= t('errors.template.header', :count => @order.errors.size,
           					:model=>t('activerecord.models.order'))%>
        </h2>
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  

  <div>
  	<table style="width:100%" border=1>
  		<thead>
  			<tr>
  				<th></th>
  				<th><%= t('.name')%></th>
  				<th><%= t('.address')%></th>
  				<th><%= t('.zip')%></th>
  				<th><%= t('.phone')%></th>
  			</tr>  			
  		</thead>
  		<tbody>
  			<% if @addresses %>
  			<% @addresses.each do |address| %>
  			<tr>
  				<td>
  					<input type="radio" name="order[address_id]" value=<%= address.id %> />
  				</td>
  				<td>
  					<%= address.name %>
  				</td>
  				<td>
  					<%= address.position %>
  				</td>
  				<td>
  					<%= address.zip %>
  				</td>
  				<td>
  					<%= address.phone %>
  				</td>
  			</tr>
  			<%end%>
  			<% end %>
  			<tr>
  				
  				<td colspan=5><%= link_to t('.add'), new_address_path %></td>
  			</tr>
  		</tbody>
  	</table>
  </div>

  <div>  	
    <%= f.label :pay_type, t('.pay_type') + ":" %>
    <%= f.select :pay_type,
    				Order::PAYMENT_TYPES,
    				:prompt => t('.pay_prompt') %>
  </div>
  
  <%= f.submit t('.submit') %>
  
<% end %>