<h1><%= t('.title')%></h1>

<table>
  <tr>
    <th><%= t('.name')%></th>
    <th><%= t('.address')%></th>
    <th><%= t('.email')%></th>
    <th><%= t('.pay_type')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
<% address = Address.find(order.address_id)%>
  <tr>
    <td><%= address.name %></td>
    <td><%= address.position %></td>
    <td><%= address.phone %></td>
    <td><%= order.pay_type %></td>
    <td><%= link_to t('.show'), order %></td>
    <td><%= link_to t('.edit'), edit_order_path(order) %></td>
    <td><%= link_to t('.destroy'), order, :confirm => t('.ifsure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.neworder'), new_order_path %>
<p><%= will_paginate @orders %></p>
