<p id="notice"><%= notice %></p>

<p>
  <b>Name</b>
  <%= @address.name %>
</p>

<p>
  <b>E-mail</b>
  <%= @user.email %>
</p>

<p>
  <b>Address</b>
  <%= @address.position %>
</p>

<p>
  <b><%= t('.pay_type')%></b>
  <%= @order.pay_type %>
</p>

<p>
  <b><%= t('.product')%></b>
  <%= render ( @order.line_items) %>
</p>




<%= link_to t('.edit'), edit_order_path(@order) %> |
<%= link_to t('.back'), orders_path %>
