<div class="cart_title"><%= t('.ycart')%></div>
<table>
	<!--
	<% for item in @cart.line_items %>
		<tr>
			<td><%= item.quantity %>&times;</td>
			<td><%= item.product.title %></td>
			<td class="item_price"><%= number_to_currency(item.total_price) %></td>
		</tr>
	<% end %>
	-->
	
	<%= render(@cart.line_items) %>
	
	<tr class="total_line">
		<td colspan="2"><%= t('.total')%></td>
		<td class="total_cell"><%= number_to_currency(@cart.total_price) %>
	</tr>
	
</table>

<!--<%= button_to t('.empty'), @cart, :method => :delete, 
  :confirm => t('.ifsure') %>
 -->
 <br />
<%= link_to t('.back'), carts_path %>