<p id="notice"><%= notice %></p>

<p>
  <b><%= t('.name')%></b>
  <%= @address.name %>
</p>

<p>
  <b><%= t('.position')%></b>
  <%= @address.position %>
</p>

<p>
  <b><%= t('.zip')%></b>
  <%= @address.zip %>
</p>

<p>
  <b><%= t('.phone')%></b>
  <%= @address.phone %>
</p>


<%= link_to t('.edit'), edit_address_path(@address) %> |
<%= link_to t('.back'), addresses_path %>
