<h1><%= t('.title')%></h1>

<table>
  <tr>
    <th><%= t('.name')%></th>
    <th><%= t('.parentid')%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.parentid %></td>
    <td><%= link_to t('.show'), category %></td>
    <td><%= link_to t('.edit'), edit_category_path(category) %></td>
    <td><%= link_to t('.destroy'), category, :confirm => t('.ifsure'), :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('.newcategory'), new_category_path %>
