<p id="notice"><%= notice %></p>

<p>
  <b><%= t('.name')%></b>
  <%= @category.name %>
</p>

<p>
  <b><%= t('.parentid')%></b>
  <%= @category.parentid %>
</p>


<%= link_to t('.edit'), edit_category_path(@category) %> |
<%= link_to t('.back'), categories_path %>
