<p id="notice"><%= notice %></p>

<p>
  <b><%= t('.title')%></b>
  <%= @product.title %>
</p>

<p>
  <b><%= t('.description')%></b>
  <%= @product.description %>
</p>

<p>
  <b><%= t('.imageurl')%></b>
  <%= @product.image_url %>
</p>

<p>
  <b><%= t('.price')%></b>
  <%= @product.price %>
</p>

<br />
<p>
	<h1>Comments</h1>
	<%= render :partial => "comments/comment", :collection => @product.comments %><br />
</p>

<p>
	<%= render "comments/form" %><br />
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
