<!DOCTYPE html>
<html>
	
<head>
  <title><%= t('.head')%></title>
<!-- START:stylesheet -->
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "depot", :media => "all"%><!-- <label id="code.slt"/> -->
<!-- END:stylesheet -->
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %><!-- <label id="code.csrf"/> -->
</head>

<body>
<div id = "mainpart">
	<div id = "pagehead">
		<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" 
			codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" 
			width="250" height="112">
		<param name="movie" value="images/bookshop_online.swf" />
		<param name="quality" value="high" />
		<param name="wmode" value="transparent">
		</object>

		<%= form_tag store_path, :class => 'locale' do %>
		    <% if session[:user_id] %>
		    	<% user = User.find(session[:user_id]) %>
		    	<%= link_to t('.usercenter'), user %>
				&nbsp;|&nbsp;
				<%= link_to t('.logout'), logout_path, :method => :delete %>
		    <% else %>
				<%= link_to t('.login'), login_path %>
				&nbsp;|&nbsp;
				<%= link_to t('.signup'), signup_path %>
			<% end %>
			&nbsp;   &nbsp;
			<%= select_tag 'set_locale',
				options_for_select(LANGUAGES, I18n.locale.to_s),
				:onchange => 'this.form.submit()' %>
			<%= submit_tag 'submit' %>
			<%= javascript_tag "$$('.locale input').each(Element.hide)" %>
		<% end %>

	</div>
	<div id = "pagemenu">
		<table>
			<td>
				<a href = "/" class = "menu_button" unselectable="on" onselectstart="return false">
					<div class = "item_name">
						&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;
						<div class = "bottom_text">	<%= t('.home')%>	</div>
						<div class = "top_text">	<%= t('.home')%>	</div>
					</div>
				</a>
			</td>
			<td>
				<a href = "#" class = "menu_button" unselectable="on" onselectstart="return false">
					<div class = "item_name">
						&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;
						<div class = "bottom_text">	<%= t('.book')%>	</div>
						<div class = "top_text">	<%= t('.book')%>	</div>
					</div>
				</a>
			</td>
			<td>
				<a href = "#" class = "menu_button" unselectable="on" onselectstart="return false">
					<div class = "item_name">
						&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;
						<div class = "bottom_text">	<%= t('.activity')%>	</div>
						<div class = "top_text">	<%= t('.activity')%>	</div>
					</div>
				</a>
			</td>
			<td>
				<a href = "#" class = "menu_button" unselectable="on" onselectstart="return false">
					<div class = "item_name">
						&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;
						<div class = "bottom_text">	<%= t('.rank')%>	</div>
						<div class = "top_text">	<%= t('.rank')%>	</div>
					</div>
				</a>
			</td>
			<td>
				<a href = "/guide/index.htm" class = "menu_button" unselectable="on" onselectstart="return false">
					<div class = "item_name">
						&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;
						<div class = "bottom_text">	<%= t('.help')%>		</div>
						<div class = "top_text">	<%= t('.help')%>	</div>
					</div>
				</a>
			</td>
			<td align = right style = "width:320px">			
			    <form name = "searcht" id = "searcht" accept-charset="UTF-8" 
			       action="/<%= I18n.locale%>/searches" 
			    	method="get" text-decoration = none >					  			    
					<div class = "search_field">
						<input type = "text" class = "search_text" name = "q"/>
						<a href="javascript:document.getElementById('searcht').submit();" 
						       style = "outline:none" class = "search_button" ></a>
					</div>
				</form>						
			</td>
		</table>
		<div id = "page_location">
			<%= t('.some')%>
		</div>
	</div>
	<DIV id=center>
		<DIV id=slider>
			<DIV class=slide><A href="#" target=_blank><IMG class=diapo 
			border=0 src="/images/index_imgshow/01.jpg"></A> 
			<DIV class=text>舍记</DIV></DIV>
			<DIV class=slide><A href="#" target=_blank><IMG class=diapo 
			border=0 src="/images/index_imgshow/02.jpg"></A> 
			<DIV class=text>舍记</DIV></DIV>
			<DIV class=slide><A href="#" target=_blank><IMG class=diapo 
			border=0 src="/images/index_imgshow/03.jpg"></A> 
			<DIV class=text>舍记</DIV></DIV>
			<DIV class=slide><A href="#" target=_blank><IMG class=diapo 
			border=0 src="/images/index_imgshow/04.jpg"></A> 
			<DIV class=text>舍记</DIV></DIV>
			<DIV class=slide><A href="#" target=_blank><IMG class=diapo 
			border=0 src="/images/index_imgshow/05.jpg"></A> 
			<DIV class=text>舍记</DIV></DIV>
			<DIV class=slide><A href="#" target=_blank><IMG class=diapo 
			border=0 src="/images/index_imgshow/06.jpg"></A> 
			<DIV class=text>舍记</DIV></DIV>
		</DIV>
	</DIV>
		
	<SCRIPT type=text/javascript>
	/* ==== start script ==== */
	slider.init();
	</SCRIPT>
	<div id = "content">
		<table border= "0 " cellspacing= "0 " cellpadding= "0 " >
			<td>
				<div id = "infomation_space">
					<div id = "store">
						<div id="main">
    							<%= yield %>
    						</div>
    					</div>
    				</div>
    			</td>
    			<td>
    				<div id="category">
    					
		    			<ul>
		    			<% if @categories %>
		    			  <%= hidden_div_if(@categories.empty?, :id => "category") do %>
		    				<% @categories.each do |category| %>
							  <% if category.parentid == 0%>
							  	<li>
							  		<h3><%= link_to category.name, {:controller => "store", 
							  			 :category_id => category.id}%></h3>
							  		<ul>
							  			<% @categories.each do |subcategory| %>
										  <% if subcategory.parentid == category.id%>
										  	<li><%= link_to subcategory.name, {:controller => "store", 
										  		 :category_id => subcategory.id}%>
										  <% end %>
										<% end %>
							  		</ul>
							  	</li>
							  <% end %>
							<% end %>
		    			  <% end %>
		    			<% end %>
		    			</ul>
		    		</div>
    				<div id = "personal_space">
    					<div id = "hide_tag">
    						<a href = "javascript:void(0);" id = "hide_button" onclick="hide_personal_space()"></a>  
    						<a href = "javascript:void(0);" id = "show_button" onclick="show_personal_space()"></a>     										  
    					</div>
    					<div id = "personal_content">
    						<div id = "personal_title">
    						</div>

    						<div id = "personal_content_box">
    							<div id = "personal_content_top">
    								<div id = "personal_content_bottom">
    								<div id = "personal_blank">
    								</div>
 	   								<div id="cart">
    										<% if @cart %>
    				  							<%= hidden_div_if(@cart.line_items.empty?, :id => "cart") do %>
    												<%= render @cart %>
    				  							<% end %>
    										<% end %>
    									</div>
    									<% if session[:user_id] %>
    										<% user = User.find(session[:user_id]) %>
    										<% if user.is_admin%>
			  					    			<br />
			 					    			<%= link_to t('.category'), categories_path %><br />
								    			<%= link_to t('.product'), products_path %><br />
								    			<%= link_to t('.star'), stars_path %><br />
								    			<%= link_to t('.user'), users_path %><br />
								    			<%= link_to t('.order'), orders_path %><br />								    											  											  											  				
								  			<% end %>								  										  												  			
						  	    		<% end %>
    								</div>
    							</div>
    						</div>
    						<div id = "nonius">
    						</div>
    						<div id = "personal_menu">
    							<table>
    								<td valign="top"><a href="javascript:void(0);" 
    										  onclick="move_to(0)" class = "personal_menu_item"></a></td>
    								<td valign="top"><a href="javascript:void(0);" 
    										  onclick="move_to(1)" class = "personal_menu_item"></a></td>
    								<td valign="top"><a href="javascript:void(0);" 
    										  onclick="move_to(2)" class = "personal_menu_item"></a></td>
    								<td valign="top"><a href="javascript:void(0);" 
    										  onclick="move_to(3)" class = "personal_menu_item"></a></td>
    							</table>
    						</div>
    					</div>
    				</div>
    			</td>
    		</table>
    	</div>
    	<div id = "separator_bar">
    	</div>
    	<div id = "pagefoot">
    		<table>
    			<td>
    				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" 
					codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" 
					width="90" height="106">
				<param name="movie" value="images/spining-earth.swf" />
				<param name="quality" value="high" />
				<param name="wmode" value="transparent">
				</object>
			</td>
			<td align = right style = "width:784px">
				<div class = "right_text">
					<%= t('.copywrite')%>
				</div>
			</td>
		</table>
    	</div>
</div>
</body>
</html>

<script>
	var nonius = document.getElementById("nonius");
	if(!nonius.style.left){
		nonius.style.left = "11px";
	}

	var hide_button = document.getElementById("hide_button");
	var show_button = document.getElementById("show_button");
	show_button.hide();
	var personal = document.getElementById("personal_space");
</script>
