<!DOCTYPE html>
<html>
	
<head>
  <title><%= t('.head')%></title>
<!-- START:stylesheet -->
  <%= stylesheet_link_tag "scaffold" %>
  <%= stylesheet_link_tag "depot", :media => "all"%><!-- <label id="code.slt"/> -->
<!-- END:stylesheet -->
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %><!-- <label id="code.csrf"/> -->
</head>

<body>
<div id = "mainpart">
	<div id = "pagehead">
		<embed src="images/bookshop_online.swf" wmode = "transparent" width = "250" height = "112"></embed> 

		<%= form_tag store_path, :class => 'locale' do %>
		    <% if session[:user_id] %>
		    	<% user = User.find(session[:user_id]) %>
		    	<%= link_to t('.usercenter'), user %>
				&nbsp;|&nbsp;
				<%= link_to t('.logout'), logout_path, :method => :delete %>
		    <% else %>
				<%= link_to t('.login'), login_path %>
				&nbsp;|&nbsp;
				<%= link_to t('.signup'), signup_path %>
			<% end %>
			&nbsp;   &nbsp;
			<%= select_tag 'set_locale',
				options_for_select(LANGUAGES, I18n.locale.to_s),
				:onchange => 'this.form.submit()' %>
			<%= submit_tag 'submit' %>
			<%= javascript_tag "$$('.locale input').each(Element.hide)" %>
		<% end %>

	</div>
	<div id = "pagemenu">
		<table>
			<td>
				<a href = "javascript:void(0);" class = "menu_button" unselectable="on" onselectstart="return false" 
					id = "menu_button_home" onclick = "set_menu_button('home'); new Ajax.Updater(
   						'main', '/store', {method:'get', asynchronous:true, evalScripts:true }); 
						set_page_location('home >'); return false;">
					<div class = "item_name">
						&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;
						<div class = "bottom_text">	<%= t('.home')%>	</div>
						<div class = "top_text">	<%= t('.home')%>	</div>
					</div>
				</a>				
			</td>
			<td>
				<a href = "javascript:void(0);" class = "menu_button" unselectable="on" onselectstart="return false" 
					id = "menu_button_books" onclick = "set_menu_button('books'); new Ajax.Updater(
   						'main', '/type', {method:'get', asynchronous:true, evalScripts:true }); 
						set_page_location('home > books >'); return false;">
					<div class = "item_name">
						&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;
						<div class = "bottom_text">	<%= t('.book')%>	</div>
						<div class = "top_text">	<%= t('.book')%>	</div>
					</div>
				</a>		
			</td>
			<td>
				<a href = "javascript:void(0);" class = "menu_button" unselectable="on" onselectstart="return false" 
					id = "menu_button_rank" onclick = "set_menu_button('rank'); new Ajax.Updater(
   						'main', '/rank', {method:'get', asynchronous:true, evalScripts:true }); 
						set_page_location('home > rank >'); return false;">
					<div class = "item_name">
						&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;
						<div class = "bottom_text">	<%= t('.rank')%>	</div>
						<div class = "top_text">	<%= t('.rank')%>	</div>
					</div>
				</a>		
			</td>
			<td>
				<a href = "javascript:void(0);" class = "menu_button" unselectable="on" onselectstart="return false" 
					id = "menu_button_contect" onclick = "set_menu_button('contect'); new Ajax.Updater(
   						'main', '/contect', {method:'get', asynchronous:true, evalScripts:true }); 
						set_page_location('home > contect us >'); return false;">
					<div class = "item_name">
						&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;
						<div class = "bottom_text">	<%= t('.contect')%>	</div>
						<div class = "top_text">	<%= t('.contect')%>	</div>
					</div>
				</a>		
			</td>
			<td>
				<a href = "/guide/index.htm" class = "menu_button" unselectable="on" onselectstart="return false">
					<div class = "item_name">
						&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;
						<div class = "bottom_text">	<%= t('.help')%>		</div>
						<div class = "top_text">	<%= t('.help')%>	</div>
					</div>
				</a>
			</td>
			<td align = right style = "width:320px">					  			    
					<div class = "search_field" accept-charset="UTF-8" >

						<input type = "text" class = "search_text" name = "q_text" id = "q_text" />
						<a href="javascript:void(0);" style = "outline:none" class = "search_button" onclick="new Ajax.Updater(
   						'main', '/<%= I18n.locale%>/searches?q=' + document.getElementById('q_text').value, {method:'get', asynchronous:true, evalScripts:true }); 
						return false;"></a>

						
					</div>					
			</td>
		</table>
		<div id = "page_location">
		</div>
	</div>
	<DIV id=center>
		<DIV id=slider>
			<%
			if !@products
				@products = Product.all
			end
			@products.each do |product| %>
			<DIV class=slide>
			<%= link_to image_tag(product.image_url, :class => 'diapo' ), product %> 		
			<DIV class=text>舍记</DIV></DIV>
			<% end %>
		</DIV>
	</DIV>
		
	<SCRIPT type=text/javascript>
	/* ==== start script ==== */
	slider.init();
	</SCRIPT>
	<div id = "content">
		<table border= "0 " cellspacing= "0 " cellpadding= "0 " >
			<td>
				<div id = "infomation_space">
					<div id = "store">
						<div id="main">
    							<%= yield %>
    						</div>
    					</div>
    				</div>
    			</td>
    			<td>
    				<div id = "personal_space">
    					<div id = "hide_tag">
    						<a href = "javascript:void(0);" id = "hide_button" onclick="hide_personal_space()"></a>  
    						<a href = "javascript:void(0);" id = "show_button" onclick="show_personal_space()"></a>     										  
    					</div>
    					<div id = "personal_content">
    						<div id = "personal_title">
    						</div>

    						<div id = "personal_content_box">
    							<div id = "personal_content_top">
    								<div id = "personal_content_bottom">
    								<div id = "personal_blank">
    								</div>
 	   								<div id="cart">
    										<% if @cart %>
    				  							<%= hidden_div_if(@cart.line_items.empty?, :id => "cart") do %>
    												<%= render @cart %>
    				  							<% end %>
    										<% end %>
    									</div>
    									<% if session[:user_id] %>
    										<% user = User.find(session[:user_id]) %>
    										<% if user.is_admin%>
			  					    			<br />
			 					    			<%= link_to t('.category'), categories_path %><br />
								    			<%= link_to t('.product'), products_path %><br />
								    			<%= link_to t('.star'), stars_path %><br />
								    			<%= link_to t('.user'), users_path %><br />
								    			<%= link_to t('.order'), orders_path %><br />
								  			<% end %>								  										  												  			
						  	    		<% end %>
    								</div>
    							</div>
    						</div>
    						<div id = "nonius">
    							<div id = "nonius_border">
    								<div id = "nonius_text">
    								</div>
    							</div>
    						</div>
    						<div id = "personal_menu">
    							<table>
    								<td valign="top"><a href="javascript:void(0);" 
    										  onclick="move_to(0)" class = "personal_menu_item"></a></td>
    								<td valign="top"><a href="javascript:void(0);" 
    										  onclick="move_to(1)" class = "personal_menu_item"></a></td>
    								<td valign="top"><a href="javascript:void(0);" 
    										  onclick="move_to(2)" class = "personal_menu_item"></a></td>
    								<td valign="top"><a href="javascript:void(0);" 
    										  onclick="move_to(3)" class = "personal_menu_item"></a></td>
    							</table>
    						</div>
    					</div>
    				</div>
    			</td>
    		</table>
    	</div>
    	<div id = "separator_bar">
    	</div>
    	<div id = "pagefoot">
    		<table>
    			<td>
    				<embed src="images/spining-earth.swf" wmode = "transparent" width = "90" height = "106"></embed> 
			</td>
			<td align = right style = "width:784px">
				<div class = "right_text">
					<%= t('.copywrite')%>
				</div>
			</td>
		</table>
    	</div>
</div>
</body>
</html>

<script>
	var nonius = document.getElementById("nonius");
	var nonius_text = document.getElementById("nonius_text");
	if(get_cookie_value("menu_number") == ""){
		nonius.style.left = "11px";
	}else{
		var nm = parseInt(get_cookie_value("menu_number"));
		nonius.style.left = "" + (11 + 63 * nm) + "px";
		nonius_text.style.left = "" + -63 * nm + "px";
	}

	var hide_button = document.getElementById("hide_button");
	var show_button = document.getElementById("show_button");
	var personal = document.getElementById("personal_space");

	if(get_cookie_value("personal_space") != "false"){
		if(get_cookie_value("personal_space") == "")
			set_cookie_value("personal_space", "true");
		show_button.hide();		
	}else{
		personal.style.width = "25px";
		hide_button.hide();
	}

	if(get_cookie_value("page_location") == ""){
		set_cookie_value("page_location", "home >");
		set_page_location("home >");
	}

	var old_menu_button = document.getElementById("menu_button_home");
	old_menu_button.className = "disable_menu_button";
</script>
